

[dir="ltr"] {
  .breadcrumb {
    .breadcrumb-title {
      font-size: 13px;
    }

    .breadcrumb-item:not(:last-child)::after {
      content: "/" !important;
    }
  }
}

[dir="rtl"] {
  .breadcrumb {
    .breadcrumb-title {
      font-size: 15px;
    }

    .breadcrumb-item:not(:last-child)::after {
      content: "/" !important;
    }
  }
}
