// ltr
[dir="ltr"] {
  .popup-container {
    .popup {
      .popup-heading {
        > h3 {
          font-size: 18px;
        }
      }

      .popup-message {
        font-size: 16px;
      }
    }
  }
}

// rtl
[dir="rtl"] {
  .popup-container {
    .popup {
      .popup-heading {
        > h3 {
          font-size: 22px;
        }
      }

      .popup-message {
        font-size: 20px;
      }
    }
  }
}
