.modal-panel-container {
    transition: .2s ease-in-out;
    position: fixed;
    top: 0;
    inset-inline-end:  0;
    height: 100vh;
    width: 100vw;
    z-index: 99999;
  
    .overlay-page {
      position: fixed;
      width: 100vw;
      height: 100vw;
      top: 0;
      inset-inline-end: 0;
      z-index: 99999;
      background: #23282D;
      opacity: .25;
    }
    .modal-floating-panel {
      position: fixed;
      inset-inline-end:0;
      top:0;
      transition-delay: .2s;
      transition: .5s ease-in-out;
      z-index: 99999999;
      width: 40%;
      height: 100vh;
      max-height: 100vh;
      overflow-y: hidden;
      background: #fff;
      padding: 0;
      border-radius: 0 16px  16px 0;
      display: grid;
      grid-auto-rows: 9vh 90vh;
 
      .side-panel-header {
        padding: 16px 24px;
        box-shadow: 0 8px 24px #23282D0A;
        // border-bottom: 1px solid #F0F0F1;
        h3 {
          font-size: 24px;
          font-weight: 500;
          color: #23282D;
        }
        .close-side-panel {
          cursor: pointer;
          padding: 4px 24px;
        }
      }
      .side-panel-faq {
        overflow-y: auto;
        padding: 16px 24px;
        background: #fff;
     
      }
    
    }
  }
  html[dir="rtl"] {

    .modal-panel-container ,  .modal-floating-panel {
        transform: translateX(-100%);
        visibility: hidden;
        &.active {
            transform: translateX(0%);
            visibility: visible;
          }
    }

  }
    html[dir="ltr"] {

    .modal-panel-container ,  .modal-floating-panel {
        transform: translateX(100%);
        visibility: hidden;
        &.active {
            transform: translateX(0%);
            
            visibility: visible;
          }
    }
    .modal-floating-panel {
        border-radius: 16px 0 0  16px ;

    }


  }