/* General */
$scale: 14px; /* main font size */
$borderRadius: 12px; /* border radius of layout element e.g. card, sidebar */
$transitionDuration: 0.2s; /* transition duration of layout elements e.g. sidebar, overlay menus */
// Theme colors
// Primary
$Primary: #b49164 !default;
$Primary-active: #a98a60 !default;
$Primary-light: #f6f2ee !default;
$Primary-light-dark: #212e48;
$Primary-inverse: #fff;

$label-color: #23282d;
